pandas
numpy
scikit-learn
fastapi
uvicorn
mlflow
dvc
dvc[gdrive]  # remove if you won't ever remote to GDrive; ok to keep
evidently>=0.4,<0.5
pydantic
python-dotenv
joblib
pytest
pytest-cov
black
isort
flake8
pre-commit
